---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - crds/crd-alertmanager.yaml
  - crds/crd-podmonitor.yaml
  - crds/crd-prometheus.yaml
  - crds/crd-prometheusrules.yaml
  - crds/crd-servicemonitor.yaml
  - crds/crd-thanosrulers.yaml
  - rbac/cluster-role.yaml
  - namespace.yaml
  - helm-release.yaml