apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Create flux-system ns
resources:
  - namespace.yaml

bases:
  - ../../../bases/flux

# Delete default flux ns using $patch command
patchesStrategicMerge:
  - patch-default-ns.yaml # delete action can only be done using patchesStrategicMerge

patchesJson6902:
  # Replace helm operator arguments
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: helm-operator
      namespace: flux
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - --enabled-helm-versions=v3