---
apiVersion: v1
kind: Service

metadata:
  name: java-demo-backend-service # dns
  # namespace set in corresponding env folder via kustomize

  labels:
    app: java-demo
    role: backend
    team: java-demo

spec:
  selector:
    app: java-demo
    role: backend
  # Open port of the VM so traffic can go in from the outside
  type: ClusterIP # d.
  ports:
    - protocol: TCP
      # Port exposed by the service
      port: 8080
      # Port of the pod accessed
      targetPort: 8080
      # If you wanna open a VM port (type: NodePort)
      # nodePort: 30007
