apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging
# nameSuffix: -staging
commonLabels:
    env: staging

resources:
  - common/namespace.yaml
  - common/rbac.yaml

bases:
  - ../../bases/services/java-demo
  
patchesStrategicMerge:
  - java-demo/backend/deployment-patch.yaml
  - java-demo/database/deployment-patch.yaml
