---
apiVersion: v1
kind: Service
metadata:
  name: java-demo-database-service # dns
  # namespace set in corresponding env folder via kustomize
  
  labels:
    app: java-demo
    role: database

spec:
  selector:
    app: java-demo
    role: database

  ports:
    - protocol: TCP # d.
      # Port exposed by the service
      port: 3306
      # Port of the pod accessed
      targetPort: 3306
